.news-feeds{
    @include feeds;

    .news-feeds-header{
        display: flex;
        align-items:flex-start;
        justify-content: space-between;

        span{
            flex: 2;
            margin-left: 0.1rem;
            font-size: 1rem;
            font-weight: 650;
            display: flex;
            flex-direction: column;
            
            small{
                display: flex;
                align-items: center;
                font-size: 1.2rem;
                
                i{
                    margin-left: 0.5rem;
                }

            }
            
            small:nth-child(2){
               width: 8%;
                span{
                    padding-left: 0.2rem;
                    transform: translateY(-5px);
                }
                .ion-ios-people{
                    font-size: 1rem;
                    background: $grey-color;
                    color: $white-color;
                    border-radius: 10px;
                    padding: 1px;   
                }
                h6{
                    color: $grey-color;
                }
                
            }

           
        }
        img{
            @include profile-pic;
            width: 2.8rem;
        }
       
    }
    .icon{
        width: 1rem;
    }
    
    h5{
        padding: 0.8rem 0;
        font-weight: 400;
        font-size: 1.1rem;
    }
    h5:hover{
        text-decoration: underline;
        cursor: pointer;
    }
    img{
        width: 100%;
        height: auto;
    }
    .news-stats{
        width: 100%;
        padding: 0.5rem 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 1rem;

        img{
            width: 1rem;
        }

        small{
            font-size: 1rem;
        }
    }
    
    .like-comment{
        display: flex;
        width: 100%;
        justify-content: space-around;
        border-top: 1px solid $grey2-color;
        border-bottom: 1px solid $grey2-color;
        font-size: 1.3rem;
        padding: 0.5rem 0;
        i{
            color: $white-color;
            text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
            margin-right: 0.5rem;
        }
    }

    .news-comment{
        img{
            @include profile-pic;
            width: 2.5rem;
        }
    }

    .news-comment{
        h5{
            font-size: 1.1rem;
            color: $grey-color;
        }
    
        .main-comment{
            width: 100%;
            display: flex;
            img{
                @include profile-pic;
                width: 2.7rem;
                height: 2.7rem;
                cursor: pointer;
            }
            
    
            .comment-msg{
                background: $grey3-color;
                padding: 0.5rem;
                border-radius: 20px;
    
                small{
                    font-weight: 500;
                }
    
                h6{
                    font-weight: 400;
                    font-size: 1rem;
                }
                
            }
    
            .comment-like-time{
                display: flex;
                justify-content: space-between;
                width: 5.5rem;
                align-items: center;
                color: $grey-color;
                font-size: 1.1rem;
                small{
                    transform: translateY(-5px);
                }
                span{
                    font-size: 0.7rem;
                }
    
            }
        }
    }
    
    .add-comment{
        display: flex;
        align-items: center;
        position: relative;
    
        input{
            padding: 0.8rem;
            background: $grey3-color;
            border-radius: 50px;
            border: none;
            font-size: 1.1rem;
            width: 90%;
        }
        div{
            position: absolute;
            right: 18px;
    
            i{
                font-size: 1.3rem;
                padding: 0.2rem 0.3rem;
                color: $grey-color;
                border-radius: 10px;
            }
            i:hover{
                background: $grey2-color;
                cursor: pointer;
            }
        }
    }

}


.news-feeds2{
    @extend .news-feeds;

    .news-feeds-header{
        small:nth-child(2){
            i{
                font-size: 1rem;;
            }
        }
    }
    .comment-msg{
        h6{
            display: flex;
            align-items: center;
        }
        img{
            transform: scale(0.7);
        }
    }
    
}
