.ion-social-facebook {
  background: #0777e9;
  color: #fff;
  font-size: 2.3rem;
  width: 2.5rem;
  height: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  border-radius: 100px;
  margin-right: 0.5rem;
}

.ion-android-more-horizontal {
  font-size: 1.7rem;
  margin-right: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: #65676b;
}

.ion-videocamera,
.ion-ios-search-strong {
  font-size: 1.4rem;
  color: #65676b;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

body {
  background: #f0f2f5;
  max-width: 100vw;
}

.body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/*.content-area{
    display: flex;
   
}*/
.content-area {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3fr 1fr;
      grid-template-columns: 1fr 3fr 1fr;
  max-width: 150rem;
  padding-top: 1.5rem;
  margin: auto;
  margin-top: 3.5rem;
}

header {
  background: #fff;
}

aside, content {
  height: 100vh;
}

aside ::-webkit-scrollbar, content ::-webkit-scrollbar {
  width: 0.5rem;
}

aside ::-webkit-scrollbar-thumb, content ::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background: #d3d3d3;
}

.header {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 0 0.7rem;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background: #fff;
  height: 3.4rem;
  z-index: 10;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.header i {
  color: #65676b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.header i sup {
  background: #f02849;
  color: #fff;
  font-size: 12px;
  position: absolute;
  top: 2px;
  right: 17px;
  border-radius: 10px;
  padding: 3px 5px;
  line-height: 1;
  font-weight: bold;
  font-style: normal;
}

.header-first {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-first i {
  color: #fff;
}

.header-first .ion-android-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  font-size: 1.3rem;
  z-index: 2;
  left: 71px;
  padding-top: 5px;
}

.header-first input {
  height: 2.3rem;
  width: 15rem;
  border: 1px solid #e4e6eb;
  border-radius: 100px;
  padding: 1rem;
  color: #65676b;
  background: #fff;
  font-size: 0.9rem;
  margin: 10px 0;
  padding-right: 1.5rem;
  background-image: url("/searchicon.png");
  background-position: 8px 8px;
  background-repeat: no-repeat;
  padding-left: 2.3rem;
}

.header-first .ion-android-menu {
  display: none;
}

.header-second {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-second div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-second i {
  font-size: 2rem;
  padding: 0 2rem;
  position: relative;
}

.header-second i:nth-child(1) {
  color: #0777e9;
  border-bottom: 3px solid #0777e9;
}

.header-third {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header-third i {
  margin: 0.5rem;
  padding: 0.2rem 0.7rem;
  border-radius: 100px;
  background: #e4e6eb;
  color: #000;
  font-size: 1.5rem;
}

.header-third i sup {
  right: -5px;
  top: -5px;
}

.header-third small {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5rem;
  color: #65676b;
}

.header-third small img {
  width: 1.8rem;
  border-radius: 100%;
  margin-right: 0.8rem;
}

@media only screen and (max-width: 1200px) {
  .header input {
    width: 1rem;
  }
  .header small {
    display: none;
  }
}

@media only screen and (max-width: 900px) {
  .header input {
    width: 1rem;
  }
  .header small {
    display: none;
  }
  .header-first input {
    margin-right: 1rem;
  }
  .header-first .ion-android-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: none;
    color: #65676b;
    border-radius: 0;
    font-size: 2rem;
    padding-bottom: 0.2rem;
    -webkit-transform: scaleX(-0.9) scaleY(1.3);
            transform: scaleX(-0.9) scaleY(1.3);
  }
  .header-second div {
    display: none;
  }
}

.main {
  max-width: 45rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
}

.main .status-display ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 12.5rem;
  position: relative;
  margin: auto;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.main .status-display ul .ion-arrow-right-c {
  position: absolute;
  right: -18px;
  top: 80px;
  background: #fff;
  font-size: 1.7rem;
  border-radius: 100%;
  padding: 0.5rem 1rem;
  color: #65676b;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.main .status-display li {
  width: 7.2rem;
  border-radius: 10px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  margin: 0 0.5rem;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.main .status-display li h5 {
  position: absolute;
  bottom: 5px;
  color: #fff;
  font-size: 1rem;
  margin-left: 0.7rem;
  font-weight: 620;
}

.main .status-display li img {
  width: 100%;
  height: 100%;
  border-radius: 12px;
}

.main .status-display li span {
  position: absolute;
  top: 10px;
  margin-left: 0.7rem;
}

.main .status-display li span img {
  border-radius: 100%;
  border: 5px solid #0777e9;
  width: 2.8rem;
}

.main .status-display li:nth-child(1) {
  text-align: center;
  width: 7.2rem;
}

.main .status-display li:nth-child(1) img {
  width: 100%;
  height: 8rem;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.main .status-display li:nth-child(1) i {
  background: #0777e9;
  color: #fff;
  font-size: 1.7rem;
  width: 2.8rem;
  border-radius: 50px;
  border: 5px #fff solid;
  position: absolute;
  bottom: 60px;
  right: 35px;
}

.main .status-display li:nth-child(1) h6 {
  font-size: 1.1rem;
  font-weight: 600;
  padding-top: 2rem;
  position: absolute;
  bottom: 10px;
  left: 25px;
}

@media screen and (max-width: 1200px) {
  .status-display li:nth-child(5) {
    display: none;
  }
}

@media screen and (max-width: 1100px) {
  .status-display li:nth-child(5) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.main-body-content {
  width: 77%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: auto;
}

.main-body-content .update-status {
  background: #fff;
  width: 100%;
  margin-top: 1.5rem;
  padding: 0.5rem;
  padding-top: 1rem;
  border-radius: 10px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: solid 1px #f0f2f5;
}

.main-body-content .update-status div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-body-content .update-status div img {
  width: 1.8rem;
  border-radius: 100%;
  margin-right: 0.8rem;
  width: 2.8rem;
}

.main-body-content .update-status div input {
  border-radius: 50px;
  border: none;
  padding: 0.5rem 0.8rem;
  font-size: 1.2rem;
  background: #f0f2f5;
  width: 90%;
}

.main-body-content .update-status div:nth-child(2) {
  border-top: 2px solid #f0f2f5;
  margin-top: 0.8rem;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.3rem;
  font-weight: 500;
  color: #65676b;
}

.main-body-content .update-status div:nth-child(2) span {
  padding: 0.3rem;
  padding-top: 0;
  border-radius: 50px;
  margin-top: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-body-content .update-status div:nth-child(2) .ion-ios-videocam {
  color: #f02849;
  font-size: 1.8rem;
  padding-right: 0.5rem;
}

.main-body-content .update-status div:nth-child(2) .ion-images {
  color: #45bd62;
  font-size: 1.8rem;
  padding-right: 0.5rem;
}

.main-body-content .update-status div:nth-child(2) .ion-android-happy {
  color: #f7b928;
  font-size: 1.8rem;
  padding-right: 0.5rem;
}

.main-body-content .update-status div:nth-child(2) span:hover {
  background: #f0f2f5;
}

.main-body-content .create-room {
  background: #fff;
  width: 100%;
  margin-top: 1.5rem;
  padding: 0.5rem;
  padding-top: 1rem;
  border-radius: 10px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: solid 1px #f0f2f5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.main-body-content .create-room span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-body-content .create-room span .ion-videocamera {
  font-size: 1.5rem;
  padding-right: 0.5rem;
  color: #0777e9;
}

.main-body-content .create-room span img {
  width: 1.8rem;
  border-radius: 100%;
  margin-right: 0.8rem;
  width: 2.7rem;
}

.main-body-content .create-room span:nth-child(2) {
  width: 60%;
  overflow: hidden;
}

.main-body-content .create-room span:nth-child(2) small {
  position: relative;
}

.main-body-content .create-room span:nth-child(2) small::after {
  content: '';
  width: 8px;
  height: 8px;
  border: 3px solid #fff;
  border-radius: 100%;
  background: #45bd62;
  display: block;
  position: absolute;
  bottom: 5px;
  right: 10px;
}

.main-body-content .create-room span:nth-child(1) {
  border: 3px solid #e7f3ff;
  border-radius: 50px;
  padding: 0.1rem 0.5rem;
  margin-right: 1rem;
}

.main-body-content .create-room span:nth-child(1) small {
  font-size: 1rem;
  font-weight: 500;
  color: #0777e9;
}

.main-body-content .create-room .ion-ios-arrow-right {
  position: absolute;
  right: -18px;
  top: 80px;
  background: #fff;
  font-size: 1.7rem;
  border-radius: 100%;
  padding: 0.5rem 1rem;
  color: #65676b;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  top: 10px;
  width: 3rem;
  text-align: center;
  right: 15px;
}

.news-feeds, .news-feeds2 {
  background: #fff;
  width: 100%;
  margin-top: 1.5rem;
  padding: 0.5rem;
  padding-top: 1rem;
  border-radius: 10px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: solid 1px #f0f2f5;
}

.news-feeds .news-feeds-header, .news-feeds2 .news-feeds-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.news-feeds .news-feeds-header span, .news-feeds2 .news-feeds-header span {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  margin-left: 0.1rem;
  font-size: 1rem;
  font-weight: 650;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.news-feeds .news-feeds-header span small, .news-feeds2 .news-feeds-header span small {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.2rem;
}

.news-feeds .news-feeds-header span small i, .news-feeds2 .news-feeds-header span small i {
  margin-left: 0.5rem;
}

.news-feeds .news-feeds-header span small:nth-child(2), .news-feeds2 .news-feeds-header span small:nth-child(2) {
  width: 8%;
}

.news-feeds .news-feeds-header span small:nth-child(2) span, .news-feeds2 .news-feeds-header span small:nth-child(2) span {
  padding-left: 0.2rem;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.news-feeds .news-feeds-header span small:nth-child(2) .ion-ios-people, .news-feeds2 .news-feeds-header span small:nth-child(2) .ion-ios-people {
  font-size: 1rem;
  background: #65676b;
  color: #fff;
  border-radius: 10px;
  padding: 1px;
}

.news-feeds .news-feeds-header span small:nth-child(2) h6, .news-feeds2 .news-feeds-header span small:nth-child(2) h6 {
  color: #65676b;
}

.news-feeds .news-feeds-header img, .news-feeds2 .news-feeds-header img {
  width: 1.8rem;
  border-radius: 100%;
  margin-right: 0.8rem;
  width: 2.8rem;
}

.news-feeds .icon, .news-feeds2 .icon {
  width: 1rem;
}

.news-feeds h5, .news-feeds2 h5 {
  padding: 0.8rem 0;
  font-weight: 400;
  font-size: 1.1rem;
}

.news-feeds h5:hover, .news-feeds2 h5:hover {
  text-decoration: underline;
  cursor: pointer;
}

.news-feeds img, .news-feeds2 img {
  width: 100%;
  height: auto;
}

.news-feeds .news-stats, .news-feeds2 .news-stats {
  width: 100%;
  padding: 0.5rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1rem;
}

.news-feeds .news-stats img, .news-feeds2 .news-stats img {
  width: 1rem;
}

.news-feeds .news-stats small, .news-feeds2 .news-stats small {
  font-size: 1rem;
}

.news-feeds .like-comment, .news-feeds2 .like-comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-top: 1px solid #e4e6eb;
  border-bottom: 1px solid #e4e6eb;
  font-size: 1.3rem;
  padding: 0.5rem 0;
}

.news-feeds .like-comment i, .news-feeds2 .like-comment i {
  color: #fff;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  margin-right: 0.5rem;
}

.news-feeds .news-comment img, .news-feeds2 .news-comment img {
  width: 1.8rem;
  border-radius: 100%;
  margin-right: 0.8rem;
  width: 2.5rem;
}

.news-feeds .news-comment h5, .news-feeds2 .news-comment h5 {
  font-size: 1.1rem;
  color: #65676b;
}

.news-feeds .news-comment .main-comment, .news-feeds2 .news-comment .main-comment {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.news-feeds .news-comment .main-comment img, .news-feeds2 .news-comment .main-comment img {
  width: 1.8rem;
  border-radius: 100%;
  margin-right: 0.8rem;
  width: 2.7rem;
  height: 2.7rem;
  cursor: pointer;
}

.news-feeds .news-comment .main-comment .comment-msg, .news-feeds2 .news-comment .main-comment .comment-msg {
  background: #f0f2f5;
  padding: 0.5rem;
  border-radius: 20px;
}

.news-feeds .news-comment .main-comment .comment-msg small, .news-feeds2 .news-comment .main-comment .comment-msg small {
  font-weight: 500;
}

.news-feeds .news-comment .main-comment .comment-msg h6, .news-feeds2 .news-comment .main-comment .comment-msg h6 {
  font-weight: 400;
  font-size: 1rem;
}

.news-feeds .news-comment .main-comment .comment-like-time, .news-feeds2 .news-comment .main-comment .comment-like-time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 5.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #65676b;
  font-size: 1.1rem;
}

.news-feeds .news-comment .main-comment .comment-like-time small, .news-feeds2 .news-comment .main-comment .comment-like-time small {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.news-feeds .news-comment .main-comment .comment-like-time span, .news-feeds2 .news-comment .main-comment .comment-like-time span {
  font-size: 0.7rem;
}

.news-feeds .add-comment, .news-feeds2 .add-comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.news-feeds .add-comment input, .news-feeds2 .add-comment input {
  padding: 0.8rem;
  background: #f0f2f5;
  border-radius: 50px;
  border: none;
  font-size: 1.1rem;
  width: 90%;
}

.news-feeds .add-comment div, .news-feeds2 .add-comment div {
  position: absolute;
  right: 18px;
}

.news-feeds .add-comment div i, .news-feeds2 .add-comment div i {
  font-size: 1.3rem;
  padding: 0.2rem 0.3rem;
  color: #65676b;
  border-radius: 10px;
}

.news-feeds .add-comment div i:hover, .news-feeds2 .add-comment div i:hover {
  background: #e4e6eb;
  cursor: pointer;
}

.news-feeds2 .news-feeds-header small:nth-child(2) i {
  font-size: 1rem;
}

.news-feeds2 .comment-msg h6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.news-feeds2 .comment-msg img {
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
}

.suggested-content {
  background: #fff;
  width: 100%;
  margin-top: 1.5rem;
  padding: 0.5rem;
  padding-top: 1rem;
  border-radius: 10px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: solid 1px #f0f2f5;
  width: auto;
  overflow-x: scroll;
  overflow-x: hidden;
}

.suggested-content span:nth-child(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.suggested-content span:nth-child(2) h4 {
  font-size: 1.7rem;
  padding: 0.5rem 0;
}

.suggested-content span:nth-child(2) small {
  font-size: 1.1rem;
}

.suggested-content .suggested-grid {
  background: #fff;
  width: 100%;
  margin-top: 1.5rem;
  padding: 0.5rem;
  padding-top: 1rem;
  border-radius: 10px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: solid 1px #f0f2f5;
  margin: 0 0.5rem;
}

.suggested-content .suggested-grid span:nth-child(1) {
  border-bottom: 1px solid #e4e6eb;
  position: relative;
}

.suggested-content .suggested-grid span:nth-child(1) img {
  border-right: 1px solid #e4e6eb;
  width: 30%;
}

.suggested-content .suggested-grid span:nth-child(1) i {
  position: absolute;
  right: 5px;
  top: 5px;
  font-size: 2rem;
  padding: 0 1rem;
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  border-radius: 50px;
}

.suggested-content .suggested-grid span:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.suggested-content .suggested-grid span:nth-child(2) img {
  width: 1.8rem;
  border-radius: 100%;
  margin-right: 0.8rem;
  width: 3rem;
}

.suggested-content .suggested-grid span:nth-child(2) h6 {
  font-size: 1.2rem;
  font-weight: 500;
}

.suggested-content .suggested-grid small {
  color: #65676b;
  font-size: 1px;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.suggested-content .suggested-grid button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 95%;
  margin: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #e7f3ff;
  color: #0777e9;
  border: none;
  border-radius: 10px;
  padding: 0.5rem;
  font-size: 1.1rem;
  font-weight: 600;
}

.suggested-content .suggested-grid button i {
  font-size: 1.5rem;
  margin-right: 0.7rem;
}

.suggested-content .grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: scroll;
  max-width: 50rem;
}

.aside {
  padding: 0rem 0rem 0rem 0.8rem;
  max-width: 20vw;
  position: fixed;
  height: 90vh;
  font-size: 0.9rem;
  overflow-y: scroll;
  scroll-behavior: smooth;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  left: 0;
}

.aside ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.aside ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5rem 0;
}

.aside ul li:nth-child(10) {
  border-bottom: 1px solid #e4e6eb;
}

.aside ul li:nth-child(11) {
  font-size: 1.2rem;
  color: #65676b;
}

.aside ul li:nth-child(12) {
  font-size: 1.1rem;
}

.aside ul li > i {
  margin: 0.5rem;
  padding: 0.2rem 0.7rem;
  border-radius: 100px;
  background: #e4e6eb;
  color: #000;
  font-size: 1.5rem;
  margin: 0;
  margin-right: 0.5rem;
  vertical-align: baseline;
}

.aside ul li h4 {
  font-weight: 540;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.aside ul li h4 small {
  color: #0777e9;
  margin-top: 0.3rem;
}

.aside ul li img:nth-child(1) {
  width: 1.8rem;
  border-radius: 100%;
  margin-right: 0.8rem;
  width: 2.3rem;
}

.aside-chat {
  padding-right: 10px;
  max-width: 20rem;
  height: 100vh;
  font-size: 0.9rem;
  overflow-y: scroll;
  scroll-behavior: smooth;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  right: 0;
}

.aside-chat h6 {
  font-size: 1.2rem;
  color: #65676b;
  font-weight: 600;
}

.aside-chat small {
  color: #0777e9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.aside-chat span:nth-child(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.aside-chat .friend-request {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-top: 1px solid #d9dbdf;
  border-bottom: 1px solid #d9dbdf;
  padding: 0.5rem 0;
  margin: 0.8rem 0;
}

.aside-chat .friend-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.8rem 0;
}

.aside-chat .friend-main img {
  width: 1.8rem;
  border-radius: 100%;
  margin-right: 0.8rem;
  height: 3rem;
  width: 3rem;
}

.aside-chat .friend-main div {
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.aside-chat .friend-main div h5 {
  font-size: 1.1rem;
  font-weight: 600;
}

.aside-chat .friend-main div i {
  font-size: 0.7rem;
  margin-left: 0.3rem;
  margin-top: 5px;
}

.aside-chat .friend-main div h6 {
  font-weight: 400;
  font-size: 0.8rem;
  color: #555a64;
  padding: 0.5rem 0;
}

.aside-chat .friend-main div button {
  background: #0777e9;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 1.1rem;
  padding: 0.4rem 1rem;
}

.aside-chat .friend-main div button:nth-child(2) {
  background: #d9dbdf;
  color: black;
  margin-left: 0.4rem;
}

.aside-chat .friend-list small {
  position: relative;
}

.aside-chat .friend-list small::after {
  content: '';
  width: 8px;
  height: 8px;
  border: 3px solid #fff;
  border-radius: 100%;
  background: #45bd62;
  display: block;
  position: absolute;
  bottom: 5px;
  right: 10px;
  width: 6px;
  height: 6px;
  bottom: 3px;
}

.aside-chat .friend-list span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.aside-chat .friend-list .contact-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 7rem;
}

.aside-chat .friend-list div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.aside-chat .friend-list div h6 {
  font-size: 1.1rem;
  color: #000;
}

.aside-chat .friend-list div img {
  width: 1.8rem;
  border-radius: 100%;
  margin-right: 0.8rem;
  width: 2.4rem;
}

.aside-chat .friend-footer span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.aside-chat .friend-footer span i {
  margin-right: 0.8rem;
  margin: 0.5rem;
  padding: 0.2rem 0.7rem;
  border-radius: 100px;
  background: #e4e6eb;
  color: #000;
  font-size: 1.5rem;
}

.aside-chat .friend-footer span h6 {
  color: #000;
  font-size: 1.1rem;
  margin: 0.8rem 0;
}

@media screen and (max-width: 1100px) {
  .content-area {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .content-area aside {
    display: none;
  }
}

@media screen and (max-width: 950px) {
  aside {
    display: none;
  }
  .main {
    margin: 0;
  }
  content {
    display: none;
  }
  .content-area {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
}
/*# sourceMappingURL=styles.css.map */